@import "../mixins.scss";

.container {
  position: relative;
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
  border: 1px solid var(--accent-color-light);
  overflow: hidden;
  @include blurred-bg;
}

.preview-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 1rem;
  transition: opacity 0.25s;
  pointer-events: none;
}

.more-content {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  transition: opacity 0.25s;
}

.container:hover,
.container[data-show-more="true"] {
  & .preview-content {
    opacity: 0;
    pointer-events: none;
  }
  & .more-content {
    opacity: 1;
    pointer-events: all;
  }
}

.container:hover .more-prompt {
  opacity: 0;
  pointer-events: none;
}

.cover-image {
  width: 40%;
  height: 100%;
  background: #281d66;
  filter: grayscale(50%) brightness(1.25);
  object-fit: cover;
}

.details {
  width: 60%;
}

.project-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.duration {
  font-style: italic;
  padding: 0 1rem;
}

.blurb {
  font-style: italic;
  padding-right: 0.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

.writeup-link {
}

.more-prompt {
  opacity: 0.6;
  text-decoration: underline;
  cursor: pointer;
  transition: opacity 0.25s;
}
