@import "../mixins.scss";

.content {
  margin-top: 1rem;
}

.explanation {
  @include blurred-bg;
  margin: 2rem 0;
  padding: 1rem;
}

.embedded-resume {
  position: relative;
  width: 100%;
  aspect-ratio: 0.72;
}
