.central {
  width: 30vw;
  margin: 0 35vw;
  position: relative;
}

.header-bar {
  font-size: large;
  position: relative;
  width: calc(100% - 1rem);
  background: white;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
}

.header-bar .star {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 1rem;
  padding: 0.5rem;
}

small {
  position: absolute;
  left: calc(30vw + 1rem);
  border: 1px solid #ffffff30;
  padding: 0.2rem;
  width: 12vw;
  font-family: "Source Serif 4", serif;
}

li {
  margin-top: 0.5rem;
}

.skills-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.skills-grid div {
  width: calc(33% - 2rem);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
