.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.index-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 80%;
  width: 100px;
}

.pages-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
  height: 80%;
  width: 600px;
  padding-right: 10px;
}

/* 'material-like' styling for a sheet of paper */
.paper {
  padding: 10px 10px 20px 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1), inset 0px 0px 10px #06101f;
  background-color: #0a1b33;
  background-image: url("https://www.transparenttextures.com/patterns/graphy-dark.png");
  background-blend-mode: color-dodge;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.page {
  composes: paper;
  width: 100%;
  margin-top: -10px;
}

.page:first-child {
  margin-top: 0px;
}

.page:last-child {
  min-height: 750px;
  border-radius: 10px;
}

.index {
  composes: paper;
}

.index hr {
  width: 100%;
  margin-top: 10px;
}

.index h2 {
  font-size: 20px;
  font-weight: lighter;
}
