:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", Arial, sans-serif;

  --body-color: #ffffff;
  --header-bg-color: #ffffff;
  --header-color: #000000;
  --bg-color: #0d0b1c;

  color: var(--body-color);
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: #cbc5ff;
}
