html {
  font-family: "Helvetica", sans-serif;
  color: white;
}

body {
  margin: 0;
  /*background: #06101f;*/
  background: #03070d;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff2;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
