:root {
  color: #ffffff;
  background-color: #242424;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Open Sans", Arial, sans-serif;

  --portrait-breakpoint-aspect: 0.85; /* aspect ratios smaller than this are considered 'portrait'*/
}

* {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: #cbc5ff;
}
