.central {
  width: calc(min(600px, 100vw));
  margin: 0 calc((100vw - min(600px, 100vw)) / 2);
  position: relative;
}

@media (max-aspect-ratio: 0.85) or (max-width: 600px) {
  .central {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    position: relative;
  }
}

.header-bar {
  font-size: large;
  width: calc(100% - 1rem);
  background: white;
  color: black;
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {
  opacity: 0.5;
}
