.central {
  width: calc(min(800px, 100vw));
  margin: 0 calc((100vw - min(800px, 100vw)) / 2);
  position: relative;
}

@media (max-aspect-ratio: 0.85) or (max-width: 800px) {
  .central {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    position: relative;
  }
}

.header-bar {
  font-size: large;
  width: calc(100% - 1rem);
  background: var(--header-bg-color);
  color: var(--header-color);
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: center;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--header-color);
  text-decoration: none;
}

.nav-link:any-link {
  color: var(--header-color);
}

.nav-link:hover {
  opacity: 0.5;
}

.footer {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
